---
title: BSides Oslo - May 23rd, 2019
---
 <div class="user-details">
   <section id="about">
     <h1>About</h1>
    <p>We're a Norwegian non-profit in the early stages of planning BSides Oslo 2019, and excited that we're already receiving interest and questions. BSides is about being good to the community so we want to share the details we have so far, even if they are not finalized yet. We also want to let you know who's behind this and how you get in touch if you have questions or would like to help out.</p>

    <p>We're working with the support of the kind and experienced folks at <a href="http://www.securitybsides.org">securitybsides.org</a> to bring a new kind of infosec event to Oslo. The plan is to start with a 1-day, 1-track event with the hope of expanding in the future. The date will be May 23rd, 2019, at MESH in the middle of central Oslo.</p>
    
    <p> We've launched and are currently accepting submission in our <a href="#cfp">call for papers (CFP)</a> and have officially started <a href="#sponsorship">fundraising.</a></p>
  </section>
</div>
 <div class="user-details">
   <section id="CFP">
      <h1>CFP</h1>
      <p><b>Our Call for Presenters is now closed, stay tuned for the program.</b></p>
 
      </section>
</div>
 <div class="user-details">
  <section id="sponsorship">
    <h1>Sponsors</h1>
    {% if site.sponsors.gold != null %}
    <h2>Gold sponsors</h2>
    <div class="sponsor-logo-bar gold">
	{% for sponsor in site.sponsors.gold %}

	<a title="{{ sponsor.name }}" href="{{ sponsor.website  }}"><img src="/assets/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a>
	{% endfor %}	
    </div>
   {% endif %}
    {% if site.sponsors.standard != null %}
    <h2>Standard sponsors</h2>
    <div class="sponsor-logo-bar standard">
	{% for sponsor in site.sponsors.standard %}

	<a title="{{ sponsor.name }}" href="{{ sponsor.website  }}"><img src="/assets/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a>
	{% endfor %}	
    </div>
   {% endif %}
    {% if site.sponsors.community != null %}

    <h2>Community sponsors</h2>
<div class="sponsor-logo-bar community">
	{% for sponsor in site.sponsors.community %}

	<a title="{{ sponsor.name }}" href="{{ sponsor.website  }}"><img src="/assets/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" /></a>
	{% endfor %}	
    </div>
   {% endif %}
    <p>Thanks to all our wonderful sponsors. While we've filled our Gold and Standard spots, we're still accepting community sponsors. If you or your company still would like to sponsor BSides Oslo 2019, have your logo displayed during the event, and recieve a complimentary ticket in the process, please check out the <a href="https://www.deltager.no/bsides_oslo_sponsorship_21122018">sponsor registration page</a></p>
  </section>

</div>
<div class="user-details">
<section id="CoC">
<h1>Code of conduct</h1>
<p>BSides Oslo is a safe and inclusive community based conference, aimed at sharing information security knowledge. Speakers, participants, organizers and voulenteers are required to read and adhere to the <a href="/files/Bsides_Oslo_CoC.pdf" title="Code of conduct">code of conduct</a>.
</section>
</div>
<div class="user-details">
  <section id="team">
 <h1>The BSidesOslo Team</h1>

 <p>The BSidesOslo team are members of the local infosec community who felt the need for an accessible, inclusive event that is focused on learning and sharing. The BSides framework is a perfect fit. While individual BSides events have a focus on serving and representing their local communities, adopting this framework also ties us to an international network of diverse, independent events that seek to create opportunities to advance the infosec conversation beyond the mainstream.</p>

 <p>The team consists of:</p>
 <ul>
 	<li><a href="https://twitter.com/pati_gallardo">Patricia Aas</a></li>
 	<li><a href="https://twitter.com/nechered">Nelson Cheuque</a></li>
 	<li><a href="https://www.meetup.com/OsloSec/members/192708169/">Ryan Mattinson</a></li>
 	<li><a href="https://twitter.com/webtonull">Erlend Oftedal</a></li>
 	<li><a href="https://twitter.com/chrizmo">Christer Vaskinn</a></li>
 </ul>
</section>
</div>
 <div class="user-details">
   <section id="contact" style="text-align:center">
   <h1>Contact</h1>

   <p>Please drop us a note at <a href="mailto:{{site.email_info}}">{{site.email_info}}</a> if you have questions or would like to offer your support.</p>
 </section>
</div>
