<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.event}}</span>
	<span class="site-description">{{site.date}} at {{site.location}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:{{site.email_info}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#CFP" data-scroll>CFP</a>
        <a class="link" href="#sponsorship" data-scroll>Sponsors</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
