<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.event}}</span>
	<span class="site-description">{{site.date}} at {{site.location}}</br></br><b>All tickets sold</b></span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:{{site.email_info}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#Speakers" data-scroll>Speakers</a>
	<a class="link" href="#Program" data-scroll>Program</a>
        <a class="link" href="#Sponsors" data-scroll>Sponsors</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
