#about, section {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.inverted {
  background: $main;
  color: #fff;
}

.inverted h1 {
  color: #fff;
  margin: 0;
}

.inverted a {
  color: #fff;
}

.inverted a:visited {
  color: #ccc;
}


.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details, .details, .content-section {
  text-align: left;
  margin: 5px auto;
  padding-bottom: 2%;
}

.user-details h1, .details h1, .content-section h1 {
  text-align: center;
}

#team ul {
  list-style-type: none;
}
