@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #555;
    font-family: 'Montserrat', sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}
h1, h2, h3, h4, stong {
    padding-top: 1em;
    line-height: 1.25;
    color: #333;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}

#speakers {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
#speakers .speaker{
  float: left;
  text-align: center;
  width: 200px;
  min-height: 340px;
  padding: 0 20px 20px 20px;
}

.speaker .name {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 0 10px 0;
}
#speakers .image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.sponsor-logo-bar {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
}


.sponsor-logo-bar img {
    border: none;
    margin:0;
    padding-bottom: 2%;
    padding-right: 4%;
}

.gold img {
    max-width: 30%;
}

.standard img {
    max-width: 20%;
}

.community img {
    max-width: 10%;
}
@media only screen and (max-width: 600px){

#speakers .speaker{
  width: 100px;
  min-height: 230px;
  padding: 0 2% 2% 2%;
}

.speaker .name {
  font-weight: bold;
  font-size: 1em;
  padding: 10px 0 10px 0;
}
#speakers .image {
  width: 100px;
  height: 100px;
}


.gold img {
    max-width: 40%;
}
	
.standard img {
    max-width: 30%;
}
	
.community img {
    max-width: 20%;
}
}
