/* Talk */
#talk {
  display: block;
  margin-left: 3em;
  overflow: hidden;
  width: 80%;

  h2, h3 {
    text-align: left;
  }
}
.speaker .text {
  width: 100%;
  height: 100%;
  padding: 1em 0 0 2em;
}
.speaker p .name {
  margin-top: 2em;
  text-weight: bold;
  text-size: 1em;
}
#talk .speaker {
  overflow: hidden;
}

#talk .speaker .image {
  float: left;
  margin-top: 20px;
  margin-right: 2em;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}

/* Speakers */

#speakers {
  text-align: center;
  width: 100%;
  overflow: hidden;

}

.speakerlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a { 
    width: 25%;
    text-decoration: none;
  }
}


.speaker .placeholderText {
	width: 100%;
	min-height: 2.5em;
}
#speakers .speaker{
  
  text-align: center;
  width: 200px;
  min-height: 480px;
  padding: 0 20px 20px 20px;
}

.speaker .name {
  font-weight: bold;
  font-size: 1.5em;
}

#speakers a .speaker{
	text-decoration: none;
	color: #000;
}

#speakers a:hover .speaker{
	color: #fff;
	background: #1a222c;
}
#speakers .image {
  margin-top: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}

@media only screen and (max-width: 600px){
  .speakerlist {
    a { 
      width: 50%;
      p {
        margin: 0;
      }
    }
  }


  #speakers .speaker{
    width: auto;
    min-height: auto;
  }

  .speaker .name {
    font-weight: bold;
    font-size: 1em;
    padding: 10px 0 10px 0;
  }

  #talk .speaker .image {
    float: none;
  }

  #talk .speaker .image {
    width: 100px;
    height: 100px;
    
  }
  #speakers .image {
    width: 100px;
    height: 100px;
  }
}
