body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	overflow: hidden;
	background: url('/assets/img/37590376240_42358e7eab_k.jpg');
	background-position: 20%;
	background-repeat: no-repeat;
	background-size: cover; 
	padding: 0 0 0 20px;
	height: 300px;
}

#header h1 {
	padding-bottom: 0;
	margin-bottom: 0;
}
#header p {
	padding-top: 0;
	margin-top: 0;
}
#content {
	padding-left: 5px;
}


#footer {
	font-size: 0.5em;
	font-style: italic;
}
p, ul,li {
	font-size: 0.9em;
}
