<!doctype html>
<html lang="en">
	<head>
       		<meta charset="utf-8">
    		<title>{{ page.title }}</title>
    	<link rel="stylesheet" href="/assets/css/style.css">
  	</head>
	<body>
		<div id="header">
			<section class="image" title="Photo by: Hans Permana from Oslo, Norway (https://www.flickr.com/photos/128730796@N02/37590376240)">
		        <h1>BSides Oslo 2019</h1>
		        <p><b>October 13, 2018</b></p>
		</div>
		<div id="content">
		{{ content }}

		<div id="footer">
			<p>Header photo by: Hans Permana from Oslo, Norway (https://www.flickr.com/photos/128730796@N02/37590376240)</p>
		</div>
	</body>
</html>
